.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  padding: 15px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #22c55e;
}

.nav span {
  margin-left: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.nav span:hover {
  color: #22c55e;
}
